@font-face{
    font-family: flame;
  src: url(../../assets/icons/FlameBold.otf);
}
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}
  
.home-container > h1 {
    font-family: "flame";
    font-size: 40px;
    font-weight: 300;
    color: #f91300;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.home-container > input {
    text-align: center;
    font-family: "flame";
    background-color: #0000001c;
    margin-bottom: 40px;
    height: 30px;
    width: 300px;
    border: none;
    border-radius: 6px;
}
  
.home-container > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}