@font-face{
    font-family: flame;
  src: url(../../assets/icons/FlameBold.otf);
}
.center-navbar{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.navbar{
    display: flex;
    width: 80%;
    height: 50px;
    background: #f91300;
    align-items: center;
    font-weight: 100;
    border-radius: 15px;
    -webkit-box-shadow: 0px 9px 3px -4px rgba(58, 58, 58, 0.151); 
    box-shadow: 0px 9px 3px -4px rgba(58, 58, 58, 0.151);
    justify-content: space-around;
}
.navbar > div > ul {
    display: flex;
    font-family: 'flame';
}
.navbar > div > ul > a{
    display: inline-flex;
    text-decoration: none;
    color: #f5f5f5;
    font-size: 25px;
    text-align: center;
    transition: all 0.3s ease;
    padding-right: 20px;
}
.navbar > div > ul > a:hover{
    color: white;
    transform: scale(1.03);
}